 <div class="row">
    <div class="col-md-4 mx-5">
        <h1>LOGROS</h1>
        <div class="card">
            <div class="card-body">
                <form action="/gamification/add" method="POST">
                    <div class="form-group">
                        <input class="form-control" autocomplete="none" type="text" placeholder="Nombre del Logro" name="name">
                    </div>
                    <div class="form-group">
                        <input class="form-control" autocomplete="none" type="text" placeholder="Descripción" name="description" >
                    </div>
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" name="image" class="custom-file-input" id="inputGroupFile01">
                            <label for="inputGroupFile01" class="custom-file-label">Choose File</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Subir</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h1>NIVEL</h1>
        <div class="card">
            <div class="card-body">
                <form action="/gamification/add-level" method="POST">
                    <div class="form-group">
                        <input class="form-control" autocomplete="none" type="text" placeholder="Nombre del Estatus" name="statusName">
                    </div>
                    <div class="form-group">
                        <input class="form-control" autocomplete="none" type="text" placeholder="Número del nivel" name="levelNumber" >
                    </div>
                    <div class="form-group">
                        <input class="form-control" autocomplete="none" type="text" placeholder="minimo de experiencia" name="minExp" >
                    </div>
                    <div class="form-group">
                        <input class="form-control" autocomplete="none" type="text" placeholder="máximo de experiencia" name="maxExp" >
                    </div>                    
                    <button type="submit" class="btn btn-primary">Subir</button>
                </form>
            </div>
        </div>
    </div>
 </div>
 